beancount==3.1.0
beancount-periodic==0.2
fava==1.30.2
fava_investor==1.0.1
fava-portfolio-returns @ git+https://github.com/andreasgerstmayr/fava-portfolio-returns.git@733e9972aea01c396786f03989f600a973d12127
fava-dashboards @ git+https://github.com/andreasgerstmayr/fava-dashboards.git@6994c45bae2eaefedce3167edd8a57b7b3fd36b9
